body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.testparagraph {
  color: purple;
}

.card {
  display: inline-block;
}

.parallax {

  background-image: url('/static/images/parallax1.jpg');
  min-height: 700px;

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}