<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <title>Scale'd</title>
  </head>
  <body>
    <header>
      <div class="logo">
      </div>

    </header>
    <section id="app">
    </section>
    <section class="first section">

    </section>
    <section class="second section">

    </section>
    <section class="third section">

    </section>
    <footer>

    </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script src="/static/js/bundle.js"></script>
  </body>
</html>